SUPABASE_HOST=aws-X-region.pooler.supabase.com
SUPABASE_PORT=6543
SUPABASE_USER=postgres.tu_project_ref_aqui
SUPABASE_DB_PASSWORD=pon_aqui_tu_password_de_supabase
JWT_SECRET=genera_una_clave_aleatoria_de_minimo_64_caracteres
