# Java / Maven
target/
*.class
*.jar
*.war
HELP.md
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Spring Boot
application-local.yml
application-local.properties

# Node / React
node_modules/
dist/
build/
.vite/

# Variables de entorno (NUNCA SUBIR)
.env
.env.local
.env.*.local
*.env

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/
